@media only screen and (max-width: 767px){
    p{
        font-size: 13px;
    }
    .containerFull{
        padding:0 15px;
    }
    .header{
        padding:5px 0;
    }
    .leftLogo{
        width: 70px;
    }
    .leftLogo img{
        max-width: 100%;
    }
    .stricky-fixed .leftLogo{
        width: 65px;
    }
    .large_heading{
        font-size: 26px;
        line-height: 35px;
    }
    .btnBanner{
        font-size: 12px;
    }
    .small_heading{
        font-size: 20px;
    }
    section{
        overflow:inherit;
        padding:40px 0;
    }
    .heading{
        font-size: 21px;
        line-height: 31px;
    }
    .sub_heading{
        font-size: 18px;
        line-height: 28px;
    }
    .title{
        font-size: 15px;
    }
    .offcanvas-end {
        width: 320px;
    }
    .offcanvas-body {
        overflow-x: hidden;
        padding: 0rem 1rem;
    }
    .innerMenu ul li ul{
        display: none;
    }
    .innerMenu ul li a {
        color: #222;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
        padding: 10px;
        font-weight: 600;
    }
    .innerMenu ul li a i{
        font-size: 12px;
    }
    .innerMenu ul li ul li a{
        font-size: 13px;
    }
    .innerMenu ul li a:hover{
        color: var(--red-color);
    }
    .followUs {
        margin-top: 30px;
        border-top: 1px solid #e0e0e0;
        padding-top: 30px;
        padding-left: 15px;
    }
    .followUs ul {
        display: flex;
        margin-top: 10px;
    }
}




@media (min-width: 768px) and (max-width: 990px) {

}
@media (min-width: 1024px){
   
}
@media (min-width: 1280px){
    .containerFull{
        max-width: 1260px;
        margin: 0 auto;
    }
}
@media (min-width: 1600px){
    .containerFull{
        max-width: 1366px;
        margin: 0 auto;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1080px;
    }
}